<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>

  <system.serviceModel>
    <client>
      <endpoint name="Game"
                address="net.tcp://192.168.0.29:12000/CardsLibrary.Game"
                binding="netTcpBinding"
                contract="BlackJackContracts.IGame"
                bindingConfiguration="myBindingConfiguration"/>
    </client>

    <bindings>
      <netTcpBinding>
        <binding name="myBindingConfiguration">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    
  </system.serviceModel>
</configuration>